/**************************************************************************************************
* IT Inventory
*    © 2025 Remus Rigo
*       v2026-06-12
*   main page style
**************************************************************************************************/


table.items {
   table-layout: auto !important;
}

table.items tr:nth-child(even) {
    background: #f9f9f9;
}

table.items thead tr.filters th input {
    width: 100%;
    box-sizing: border-box;
    padding: 3px 5px;
}

table.items td,
table.items th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Make links look normal text */
a.nolink {
   color: inherit;
   display: block; /* ensures full clickable area */
   text-decoration: none;
}
